.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 3px;
  border: solid 1px black;
}

#draggable {
  cursor: n-resize;
}


#drag-box {
  /* width: 95%;
    height: 150px; */
  width: 875px;
  height: 656px;
  border: 2px solid #ccc;
  /* padding: 10px; */

  background-image: url('./images/maps/PlaceholderMap.png');
  background-repeat: no-repeat;

}

/*  */

button {
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
}

/*   
  #overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
  } */

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  /* display: none; */
}

#popup {
  width: 80%;
  height: 50%;

  max-width: 800px;
  min-height: 600px;

  /* padding: 20px; */
  position: relative;
  background: black;
  margin: 10vh auto;
}


#node-title {








  height: 7%;
  display : flex;
  align-items : center;
  justify-content: space-around;

}

#node-title-text {


  color: whitesmoke;

  
  /* text-align: center;
  vertical-align: middle;

  height: 100% */

  /* text-align: center; */



}

#node-header {
  height: 50%;

  background-size: cover;
  background-position: 0% 50%;
  

}

#node-header-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

#node-lore {
  /* margin: 0%; */
  color: whitesmoke;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}